<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tu tarjeta de regalo de Sligo</h1>
    <p>
      Gracias por comprar una tarjeta de regalo de Sligo.
    </p>
    <p>
      Por favor responde este correo electrónico indicando la dirección de correo a la que quieres hacer llegar
       esta tarjeta de regalo. Nosotros nos encargaremos del resto.
    </p>
  </body>
</html>