<h1>Store credit</h1>


<% if @order.has_gift_cards? %>
  <p>No se pueden pagar tarjetas de regalo con crédito de la tienda.</p>
<% else %>

  <% if spree_current_user %>
  
    <% if spree_current_user.credit && spree_current_user.credit.amount && spree_current_user.credit.amount > 0 %>
    
      <% max_allowed_credit = "#{[spree_current_user.credit.amount, @order.amount].min}" %>
      
      <p>Si cuentas con crédito de la tienda esta es tu oportunidad para usarlo.</p>
      
      <p>Puedes usar hasta <%= "$#{sprintf("%.2f", max_allowed_credit)}" %></p>
      
      <p class='field' data-hook='store_credit_ammount'>
        <%= form.label :store_credit_ammount, 'Crédito a usar:' %>
        <%= form.number_field :store_credit_ammount, 
          class: 'form-control',
          max: max_allowed_credit,
          default: max_allowed_credit %>
      </p>
    <% else %>
      <p>Actualmente no cuentas con crédito de la tienda. Puedes utilizar una tarjeta de relago para esto. </p>
    <% end %>
  <% else %>
    <p>Regístrate para poder tener crédito de Sligo.</p>
  <% end %>
<% end %>

<div class="well text-right form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:save_and_continue), :class => 'btn btn-lg btn-success' %>
</div>