<h1>Store Credit</h1>

<%= render 'spree/shared/error_messages', :target => @credit %>

<%= form_for(:credit, :url => object_url, :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= render :partial => "spree/admin/shared/edit_resource_links" %>
<% end %>